@import url("https://fonts.googleapis.com/css?family=Encode+Sans:200,400,600");


// 1. Your custom variables and variable overwrites.
@import "variables.scss";

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Custom mixin overwrites.
@import "mixins.scss";

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

.uk-text-huge {
    font-size: 6rem;
}

.b { @include b; }

.calculation-result {
    background: rgba($global-secondary-color, .9);
}
.gamification-result {
    background: rgba($global-primary-color, .9);
}

.calculation-result-active {

    pointer-events: none;

    &.calculation-result-active-bottom {
        top: auto !important;
        bottom: 0;
    }

    .calcgrid {
        transform: scale(.5);
        margin: 0;
        padding: 0;

        &.calcgrid-top { transform-origin: top center; }
        &.calcgrid-bottom { transform-origin: bottom center; }

        &.calcgrid-primary { background: rgba($global-primary-color, .9); }
        &.calcgrid-secondary { background: rgba($global-secondary-color, .9); }

        .uk-width-1-4 { width: 25%; }
        .uk-width-3-4 { width: 75%; }

        .uk-text-huge {
            font-size: 3rem;
            text-align: center;
        }
        .uk-card {
            .uk-card-media-top {
                width: 3rem;
                float: left;
                img {
                    width: 6rem;
                    height: 6rem;
                    margin: 1rem 0;
                }
            }
            .uk-card-body {
                width: calc(100% - 5rem);
                float: right;
                padding: 0;
                margin: 1rem 0;
                .uk-card-title {
                    font-size: 2rem;
                    text-align: left;
                }
            }
        }

    }

    .grid-label { display: none; margin: 0; }
}

.uk-section-gradient {
    background: $global-primary-color;
    background: -moz-linear-gradient(45deg, $global-secondary-color 0%, darken($global-secondary-color,10%) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, $global-secondary-color 0%,darken($global-secondary-color,10%) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, $global-secondary-color 0%,darken($global-secondary-color,10%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.background-landscape {
    background-image: url(../static/media/landscape.jpg);
    .uk-section-default { background-color: rgba(255,255,255,.9); }
    .uk-section-muted { background-color: rgba($global-muted-color,.9); }
    .uk-section-secondary {background-color: rgba($global-secondary-color,.9); }
    .uk-section-primary {background-color: rgba($global-primary-color,.9); }
}
